[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "/home/glidenote/.vim/bundle/unite"]
	path = /home/glidenote/.vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "/home/glidenote/.vim/bundle/neocomplcache"]
	path = /home/glidenote/.vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "/home/glidenote/.vim/bundle/vim-quickrun"]
	path = /home/glidenote/.vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "/home/glidenote/.vim/bundle/vim-ref"]
	path = /home/glidenote/.vim/bundle/vim-ref
	url = https://github.com/thinca/vim-ref.git
